h1, h2, h3, p {
    font-family: Helvetica;
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
}
.item h2 {
    font-size: 32px;
    color: white;
}
#brush {
    background-color: mediumspringgreen;
}
#frame {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}
span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}